.header {
  max-width: 100%;
  height: 120px;
  //height: 12.56%;
  background-color: #00082f;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;

  @media only screen and (max-width: 1024px) {
    padding-left: 20px;
    height: 100px;
  }

  @media only screen and (max-width: 360px) {
    height: 60px;
  }

  .header-left {
    display: flex;
    align-items: center;

    .header__logo {
      width: 196px;
      height: 60px;
      background-image: url("../icons/Слой_2_2.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 109px;

      @media only screen and (max-width: 1680px) {
        margin-right: 59px;
      }

      @media only screen and (max-width: 1024px) {
        width: 163px;
        height: 50px;
      }

      @media only screen and (max-width: 360px) {
        width: 35px;
        height: 30px;
        background-image: url("../icons/logo_1100.png");
        margin-right: 36px;
      }
    }

    .header__info:not(:nth-child(6)) {
      margin-right: 80px;
    }

    .header__info {
      width: max-content;

      @media only screen and (max-width: 1280px) {
        display: none;
      }

      .header__info-number {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 5px;
      }

      .header__info-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #e0e0e0;
        white-space: nowrap;
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    .header__email {
      margin-right: 31px;

      @media only screen and (max-width: 1024px) {
        margin-right: 40px;
      }

      @media only screen and (max-width: 360px) {
        margin-right: 20px;
      }

      .header__email-1 {
        width: 26px;
        height: 26px;
        background-image: url("../icons/mail_1.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:hover {
          background-image: url("../icons/new-email_4.png");
        }

        @media only screen and (max-width: 360px) {
          width: 20px;
          height: 20px;
        }
      }
    }

    .dropdown-email {
      position: relative;

      &:hover .dropdown-email__content {
        display: block;

        @media only screen and (max-width: 360px) {
          display: none;
        }
      }

      .dropdown-email__content {
        display: none;
        overflow: hidden;
        position: absolute;
        left: -75px;
        top: 73px;
        z-index: 1;
        width: 170px;
        height: 155px;
        padding: 0 10px 10px 10px;
        background-color: #00082f;
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18),
          0 5.5px 5px rgba(0, 0, 0, 0.237602);
        border-radius: 0 0 10px 10px;
        transition: all 2s;

        .dropdown-email__item {
          display: flex;
          border-bottom: 1px solid #21317a;
          height: max-content;
          padding-top: 10px;

          .dropdown-email__item-left {
            margin-right: 10px;
          }

          .dropdown-email__item-right {
            width: 132px;

            .dropdown-email__item-heading {
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0.03em;
              text-align: left;
              color: #f2f2f2;
              margin-bottom: 5px;
            }

            .dropdown-email__item-text {
              font-size: 10px;
              font-weight: 400;
              line-height: 12px;
              letter-spacing: 0.005em;
              text-align: left;
              color: #bdbdbd;
              margin-bottom: 5px;
            }

            .dropdown-email__item-date {
              display: flex;
              font-size: 10px;
              font-weight: 400;
              line-height: 12px;
              letter-spacing: 0.005em;
              text-align: left;
              color: #bdbdbd;
              margin-bottom: 10px;

              .dropdown-email__item-day {
                margin-right: 26px;
              }
            }
          }
        }
      }
    }

    .header__bell {
      width: 25px;
      height: 25px;
      background-image: url("../icons/bell_1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 50px;

      &:hover {
        background-image: url("../icons/notification_4.png");
      }

      @media only screen and (max-width: 1280px) {
        margin-right: 30px;
      }

      @media only screen and (max-width: 1024px) {
        margin-right: 50px;
      }

      @media only screen and (max-width: 360px) {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }

    .header__user {
      height: 100%;
      width: max-content;

      .header__user-data {
        background: #121d4d;
        height: 100%;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 360px) {
          padding-left: 7px;
        }

        .header__user-img {
          background-image: url("../icons/avatar.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 40px;
          height: 40px;

          @media only screen and (max-width: 360px) {
            width: 35px;
            height: 35px;
          }
        }

        .header__user-block {
          margin-left: 15px;

          .header__user-name {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.04em;
            text-align: left;
            color: #e0e0e0;

            @media only screen and (max-width: 360px) {
              font-size: 9px;
              font-weight: 400;
              line-height: 11px;
              letter-spacing: 0;
              text-align: left;
            }
          }

          .header__user-sum {
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-align: left;
            color: #ffffff;

            @media only screen and (max-width: 360px) {
              font-size: 10px;
              font-weight: 600;
              line-height: 12px;
              letter-spacing: 0;
              text-align: left;
            }
          }
        }

        .header__user-arrow {
          height: 100%;
          padding: 0 20px 0 24px;
          background-image: url("../icons/ArrowUp5.png");
          background-repeat: no-repeat;
          background-position: center;

          @media only screen and (max-width: 360px) {
            display: none;
          }
        }
      }
    }

    .dropdown__user {
      position: relative;

      .dropdown__user-content {
        opacity: 0;
        position: absolute;
        z-index: 1;
        height: 140px;
        width: 100%;
        background-color: #121d4c;
        box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18),
          0 5.5px 5px rgba(0, 0, 0, 0.237602);
        border-radius: 0 0 10px 10px;
        transition: all 0.2s;

        .chekbox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.04em;
          text-align: left;
          color: #e0e0e0;
          height: 57px;
          padding: 0 27px 0 30px;

          .switch {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 15px;
          }

          .switch input {
            display: none;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 1px;
            bottom: 1px;
            background-color: white;
            background-image: url("../icons/sun1.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(14px);
            -ms-transform: translateX(14px);
            transform: translateX(14px);
          }

          .slider.round {
            border-radius: 15px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }

        .dropdown__user-btn {
          width: 100%;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.04em;
          text-align: left;
          color: #e0e0e0;
          height: 37px;
          padding-left: 30px;

          &:hover {
            background-color: #21317a;
          }
        }
      }

      .show {
        opacity: 1;
      }
    }

    .header__logout {
      width: 105px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1280px) {
        width: 88px;
      }

      @media only screen and (max-width: 1024px) {
        width: 75px;
      }

      @media only screen and (max-width: 360px) {
        width: 35px;
      }

      button {
        height: 25px;
        width: 25px;
        background-image: url("../icons/logout_1.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @media only screen and (max-width: 360px) {
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
