.sidebar {
  width: 280px;
  height: 100%;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.18),
    0 5.5px 5px rgba(0, 0, 0, 0.237602);
  padding: 10px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 1024px) {
    width: 58px;
  }

  @media only screen and (max-width: 360px) {
    display: none;
  }

  &.minSidebar {
    width: 70px;

    & .sidebar__footer {
      display: none;
    }
  }

  .sidebar-items {
    .sidebar__item {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 30px;

      @media only screen and (max-width: 1024px) {
        margin-left: 17px;
      }

      &.changeItemSidebar {
        margin-left: 20px;
      }

      &.activeSidebar {
        margin-left: 25px;

        @media only screen and (max-width: 1024px) {
          margin-left: 12px;
        }

        .sidebar__item-label {
          font-weight: 600;
        }

        .sidebar__item-img {
          width: 35px;
          height: 35px;
          margin-right: 15px;
        }

        .img1 {
          background-image: url("../icons/Category_sh.png");
        }

        .img2 {
          background-image: url("../icons/3_User_sh.png");
        }

        .img3 {
          background-image: url("../icons/Work_sh.png");
        }

        .img4 {
          background-image: url("../icons/change_sh.png");
        }

        .img5 {
          background-image: url("../icons/levels_sh.png");
        }
      }

      &.activeMinSidebar {
        margin-left: 15px;

        @media only screen and (max-width: 1024px) {
          margin-left: 12px;
        }

        .sidebar__item-label {
          font-weight: 600;
        }

        .sidebar__item-img {
          width: 35px;
          height: 35px;
          margin-right: 15px;
        }

        .img1 {
          background-image: url("../icons/Category_sh.png");
        }

        .img2 {
          background-image: url("../icons/3_User_sh.png");
        }

        .img3 {
          background-image: url("../icons/Work_sh.png");
        }

        .img4 {
          background-image: url("../icons/change_sh.png");
        }

        .img5 {
          background-image: url("../icons/levels_sh.png");
        }
      }

      .sidebar__item-img {
        margin-right: 20px;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @media only screen and (max-width: 1024px) {
          margin-right: 0;
        }
      }

      .img1 {
        background-image: url("../icons/Category.png");
      }

      .img2 {
        background-image: url("../icons/3_User.png");
      }

      .img3 {
        background-image: url("../icons/Work.png");
      }

      .img4 {
        background-image: url("../icons/change_1.png");
      }

      .img5 {
        background-image: url("../icons/levels_1.png");
      }

      .sidebar__item-label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.04em;

        @media only screen and (max-width: 1024px) {
          display: none;
        }

        &.activeSidebar {
          font-weight: 600;
        }

        &.changeBtnSidebar {
          display: none;
        }
      }
    }
  }

  .sidebar__footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #828282;
    margin-left: 30px;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.light-theme {
  .sidebar {
    background-color: #fafafa;

    .sidebar__item {
      &.activeSidebar {
        p {
          color: #21317a;
        }
      }

      .sidebar__item-label {
        color: #4f4f4f;
      }
    }
  }
}

.dark-theme {
  .sidebar {
    background-color: #00082f;

    .sidebar__item {
      &.activeSidebar {
        p {
          color: #ffffff;
        }
      }

      .sidebar__item-label {
        color: #bdbdbd;
      }
    }
  }
}
