.msg-btn{
  margin: 10px;
  a {
    width: 150px;
    height: 60px;
    border: 1px solid
    #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}

.content{
  position: relative;
  background-image: url(../icons/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  .content__bg-color{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.light-theme{
  .content{
    .content__bg-color{
      background-color: rgba(56, 158, 224, 0.1);
    }
  }
}
.dark-theme{
  .content{
    .content__bg-color{
      background-color: rgba(15, 13, 10, 0.65);
    }
  }
}