#main-table-container {
  display: block;
  width: 100%;
  max-height: 557px;
  margin-top: 20px;

  @media only screen and (max-width: 360px) {
    // height: 340px;
    width: 100vw;
    border-radius: 10px;
  }

  .table {
    width: max-content;
    max-height: 100%;
    overflow-x: auto;

    @media only screen and (max-width: 360px) {
      width: 100vw;
      // max-height: 306px;
    }

    .search-box {
      width: max-content;
      height: 0;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: 0;
      transform: scaleY(0);
      transition: all 0.3s linear;

      .search-box__input {
        height: 45px;
        border-radius: 10px;
        padding: 15px 10px;
        border: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.04em;
        text-align: left;

        &.search-full-name {
          margin-left: 65px;
          width: 369px;
          margin-right: 120px;
        }

        &.search-min-name {
          margin-right: 97px;
          width: 270px;
        }

        &.search-inn {
          margin-right: 57px;
          width: 150px;
        }

        &.search-addres {
          margin-right: 110px;
          width: 242px;
        }

        @media only screen and (max-width: 1680px) {
          &.search-full-name {
            margin-right: 50px;
          }

          &.search-min-name {
            margin-right: 83px;
            width: 265px;
          }

          &.search-inn {
            margin-right: 49px;
            width: 118px;
          }

          &.search-addres {
            margin-right: 51px;
          }
        }

        @media only screen and (max-width: 1280px) {
          &.search-full-name {
            width: 253px;
          }

          &.search-min-name {
            margin-right: 62px;
            width: 145px;
          }

          &.search-inn {
            margin-right: 18px;
          }

          &.search-addres {
            margin-right: 20px;
            width: 219px;
          }
        }

        &:focus {
          outline: none;
        }
      }

      &.active-search-box {
        opacity: 1;
        transform: scaleY(1);
        height: 45px;
        margin-top: 30px;
        & + .main-table__items-container {
          max-height: 423px;

          @media only screen and (max-width: 360px) {
            max-height: 167px;
          }
        }
      }
    }

    .main-table,
    .main-table__items-container .main-table {
      width: max-content;
      border-collapse: collapse;
      border-spacing: 0;
      color: #000000;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0.04em;
      text-align: left;

      .main-table__checked {
        width: 65px;

        .checkbox {
          position: relative;
          width: 15px;
          height: 15px;
          margin-left: 30px;
          margin-right: 20px;

          .checkbox-input {
            appearance: none;
            position: absolute;
            left: 0;
            top: 0;

            &:checked + .checkbox-label::before {
              background: #cbd0e7;
            }

            &:checked + .checkbox-label::after {
              opacity: 1;
            }
          }

          .checkbox-label::before {
            content: "";
            display: block;
            height: 15px;
            width: 15px;
            border-radius: 3px;
            background: #d2d2d2;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            transition: background 0.1s linear;
          }

          .checkbox-label::after {
            content: "";
            display: block;
            height: 15px;
            width: 15px;
            background-image: url("../icons/Ellipse_7.png");
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            transition: opacity 0.1s linear;
          }
        }
      }

      .main-table__max-name {
        width: 489px;
        padding-right: 120px;
      }

      .main-table__min-name {
        width: 367px;
        padding-right: 97px;
      }

      .main-table__inn {
        width: 207px;
        padding-right: 57px;
      }

      .main-table__address {
        width: 352px;
        padding-right: 110px;
      }

      @media only screen and (max-width: 1680px) {
        .main-table__max-name {
          width: 419px;
          padding-right: 50px;
        }

        .main-table__min-name {
          width: 348px;
          padding-right: 83px;
        }

        .main-table__inn {
          width: 167px;
          padding-right: 49px;
        }

        .main-table__address {
          width: 293px;
          padding-right: 51px;
        }
      }

      @media only screen and (max-width: 1280px) {
        .main-table__max-name {
          width: 303px;
          padding-right: 50px;
        }

        .main-table__min-name {
          width: 207px;
          padding-right: 62px;
        }

        .main-table__inn {
          width: 136px;
          padding-right: 18px;
        }

        .main-table__address {
          width: 239px;
          padding-right: 20px;
        }
      }
    }

    .main-table__header {
      width: max-content;
      height: 59px;
      background: #b8d7eb;
      border-radius: 10px 10px 0 0;
      color: #333333;

      .main-table__checked {
        .checkbox {
          .checkbox-label::before {
            background: transparent;
            border: 1px solid #333333;
          }
        }
      }

      .main-table__max-name {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }

      .main-table__min-name {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }

      .main-table__inn {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }

      .main-table__address {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
      }

      .header-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .th-sort-icon {
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: 7px;
        }
      }

      th {
        position: relative;
      }
    }

    .main-table__items {
      margin-top: 40px;

      .main-table__item {
        height: 95px;

        &.hidden__item {
          display: none;
        }

        .item__edit {
          width: 0;
          position: relative;

          .item__edit-block {
            width: 30px;
            height: 80px;
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            background: #ffffff;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
            border-radius: 10px;

            position: absolute;
            top: -28px;
            left: -60px;

            visibility: hidden;
            opacity: 0;
            transform: scale(0.25);
            transition: all 0.5s;
            &.edit-block-hidden {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
            }

            .edit-block__btn {
              width: 15px;
              height: 15px;
              background-repeat: no-repeat;
              background-size: cover;
              &.btn-item-hidden {
                background-image: url(../icons/eye_1.png);
              }
              &.btn-item-edit {
                background-image: url(../icons/pencil_1.png);
              }
              &.btn-item-remove {
                background-image: url(../icons/cancel_2.png);
              }
            }
          }
        }

        td {
          height: inherit;
          vertical-align: top;
        }
      }
    }

    .main-table__items-container {
      width: max-content;
      max-height: 498px;
      overflow-y: scroll;
      transition: all 0.3s linear;

      @media only screen and (max-width: 360px) {
        max-height: 242px;
      }

      &::-webkit-scrollbar {
        width: 0;
      }
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: none; /* Firefox 64 */
    }

    &::-webkit-scrollbar {
      height: 5px;
      background-color: #f2f2f2;

      &-thumb {
        background: #b8d7eb;
        border-radius: 10px;
      }
    }
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }
}

.light-theme {
  #main-table-container {
    background: rgba(255, 255, 255, 0.4);
    .table {
      .search-box {
        .search-box__input {
          background: #e0e0e0;
          color: #4f4f4f;
        }
      }
      .main-table {
        color: #000000;
      }
      .main-table__header {
        background: #b8d7eb;
        color: #333333;
        .main-table__checked {
          .checkbox {
            .checkbox-label::before {
              border: 1px solid #333333;
            }
          }
        }

        th .th-sort-icon {
          margin-top: 2px;
          width: 15px;
          background-image: url("../icons/Arrow_Up_Dark.png");
        }

        // .sort-up::after,
        // .sort-down::after {
        //   background-image: url(../icons/Arrow_Up_Dark.png);
        // }
      }

      .main-table__items-container {
      }
    }
  }
}

.dark-theme {
  #main-table-container {
    background: rgba(45, 44, 43, 0.6);
    .table {
      .search-box {
        .search-box__input {
          background: #4f4f4f;
          color: #bdbdbd;
        }
      }
      .main-table {
        color: #f2f2f2;
      }
      .main-table__header {
        background: #312f2d;
        color: #bdbdbd;
        .main-table__checked {
          .checkbox {
            .checkbox-label::before {
              border: 1px solid #bdbdbd;
            }
          }
        }

        th .th-sort-icon {
          margin-top: 2px;
          width: 15px;
          background-image: url("../icons/Arrow_Up_Light.png");
        }

        // .sort-up::after,
        // .sort-down::after {
        //   background-image: url(../icons/Arrow_Up_Light.png);
        // }
      }
      .main-table__items-container {
      }
    }
  }
}
