.popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s;

  .popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .popup__content {
    box-shadow: 0 0 14px #0000003d, 0 14px 14px #0000001f;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.25);
    transition: all 0.5s;
    .popup__content-header {
      height: 79px;
      display: flex;
      justify-content: space-between;

      .content__header-title {
        height: max-content;
        margin-left: 40px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03em;
      }

      .content__header-right {
        display: flex;
        justify-content: center;
        align-items: center;

        .popup__close {
          width: 15px;
          height: 15px;
          margin-right: 20px;
          margin-top: 20px;
        }
      }
    }

    .popup__content-footer {
      height: 105px;
      padding: 0 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .btn {
        width: 160px;
        height: 60px;
        // margin-top: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        transition-property: background-color, box-shadow, border, color;
        transition-duration: 0.3s;

        &:hover {
          background: #21317a;
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        }

        &:active {
          background: #00082f;
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        }
      }

      .btn-dark {
        background: #21317a;
        color: #ffffff;
      }
    }

    &.message {
      margin: 102px auto auto;
      width: 700px;
      height: 604px;

      @media only screen and (max-width: 360px) {
        width: 340px;
        height: 720px;
        margin-top: 52px;
      }

      .popup__content-items {
        height: 420px;
        overflow-y: scroll;

        @media only screen and (max-width: 360px) {
          height: 500px;
        }

        .item {
          width: 100%;
          height: 60px;
          padding: 0 40px;
          transition: background 0.5s;

          @media only screen and (max-width: 360px) {
            padding: 0 20px;
          }

          .item-inner {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item__icon {
              margin-right: 25px;
              width: 30px;
              height: 30px;
              border-radius: 10px;
            }

            .item__description {
              height: 100%;
              margin-right: 25px;
              padding-top: 11px;
              padding-bottom: 10px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              flex: 1 0 30%;
              font-weight: 500;
              letter-spacing: 0.04em;
              text-align: left;

              .item__description-title {
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
              }

              .item__description-text {
                font-size: 12px;
                line-height: 15px;
              }
            }

            .item__time {
              height: 100%;
              padding-top: 11px;
              padding-bottom: 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              font-size: 12px;
              line-height: 15px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
        &::-webkit-scrollbar {
          width: 0;
        }
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */
      }

      @media only screen and (max-width: 360px) {
        .popup__content-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 131px;
        }
      }
    }

    &.info {
      position: relative;
      margin: 180px auto auto;
      width: 600px;
      height: 150px;

      @media only screen and (max-width: 1280px) {
        width: 528px;
      }

      @media only screen and (max-width: 360px) {
        width: 340px;
      }

      .popup__content-header {
        position: relative;
        z-index: 999;
        height: 45px;
        justify-content: flex-end;

        .popup__close {
          margin-right: 15px;
          margin-top: 15px;
        }
      }

      .popup__content-items {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .item {
          height: 100%;
          padding: 0 85px;
          display: flex;
          justify-content: center;
          align-items: center;
          .item__description {
            font-weight: 600;
            letter-spacing: 0;
            text-align: center;
            .item__description-text {
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
      }
    }

    &.add-company {
      margin: 102px auto auto;
      width: 400px;
      height: 289px;

      @media only screen and (max-width: 1280px) {
        width: 380px;
      }

      @media only screen and (max-width: 360px) {
        width: 340px;
        height: 352px;
      }

      .popup__content-header {
        .content__header-title {
          margin-left: 25px;
        }
        .popup__close {
          margin-right: 25px;
        }
      }
      .popup__content-items {
        height: 105px;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .item {
          width: 100%;
          height: 45px;
          padding: 0 25px;

          @media only screen and (max-width: 360px) {
            padding: 0 20px;
          }

          .item__input {
            width: 100%;
            height: 100%;
            padding: 15px 10px;
            border: none;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.04em;
            text-align: left;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .popup__content-footer {
        padding: 0 25px;
        justify-content: space-between;

        @media only screen and (max-width: 360px) {
          height: max-content;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;

          @media only screen and (max-width: 360px) {
            margin-top: 0;
          }

          &.btn-dark {
            @media only screen and (max-width: 360px) {
              margin-top: 10px;
            }
          }
        }
      }
    }

    &.edit-company {
      margin: 100px auto auto;
      width: 960px;
      height: 640px;

      .popup__content-header {
        .content__header-btns {
          width: 240px;
          height: 15px;
          margin-right: 30px;
          margin-top: 30px;
          display: flex;
          justify-content: flex-end;
          position: relative;

          .isactive-edit-btn__input {
            appearance: none;
            position: absolute;
            left: 0;
            top: 0;

            &:checked + .isactive-edit-btn__label {
              width: max-content;
              p {
                opacity: 1;
                transform: scaleX(1);
              }
              &::before {
                opacity: 0;
              }
              &::after {
                opacity: 1;
              }
            }
          }

          .isactive-edit-btn__label {
            margin-right: 65px;
            width: 0;
            p {
              font-size: 12px;
              font-weight: 500;
              line-height: 15px;
              letter-spacing: 0.04em;
              text-align: left;
              opacity: 0;
              transform: scaleX(0);
              transition: background 0.2s, opacity 0.2s, width 0.2s;
            }
          }
          .isactive-edit-btn__label::after,
          .isactive-edit-btn__label::before {
            content: "";
            display: block;
            opacity: 1;
            position: absolute;
            top: 0;
            z-index: 1;
            transition: background 0.2s, opacity 0.2s;
          }

          .isactive-edit-btn__label::before {
            height: 15px;
            width: 15px;
            opacity: 1;
            left: calc(100% - 70px);
          }

          .isactive-edit-btn__label::after {
            height: 25px;
            width: 25px;
            opacity: 0;
            left: calc(100% - 75px);
          }

          .popup__close {
            margin: 0;
          }
        }
      }

      .popup__content-items {
        position: relative;
        width: 100%;
        height: calc(100% - 100px);
        margin-top: 21px;

        .popup-edit__header {
          width: 900px;
          height: 38px;
          margin: 0 auto;
          border-bottom: 1px solid #cbd0e7;

          display: flex;
          justify-content: flex-start;

          .popup-edit__btn {
            position: relative;
            width: 184px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .popup-edit__btn-title {
              width: max-content;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0.02em;
                text-align: left;
                transition: all 0.3s;
              }

              .popup-edit__btn-title-icon {
                margin-left: 10px;
                width: 20px;
                height: 20px;
                transition: all 0.3s;
              }
            }

            .btn-line {
              width: 100%;
              height: 3px;
              background: #5080cd;
              border-radius: 3px;
              position: absolute;
              left: 0;
              top: calc(100% - 2px);
              opacity: 0;
              transition: opacity 0.3s linear;
            }

            &.popup-edit__btn-all-info {
              margin-left: 10px;
            }

            &.popup-edit__btn-staff {
              margin-left: 80px;
            }

            &.popup-edit__btn-docs {
              margin-left: 55px;
            }

            &.popup-edit__btn-active {
              .btn-line {
                width: 100%;
                height: 3px;
                background: #5080cd;
                border-radius: 3px;
                position: absolute;
                left: 0;
                top: calc(100% - 2px);
                opacity: 1;
                transition: opacity 0.3s linear;
              }
            }
          }
        }

        .tab {
          width: 100%;
          position: absolute;
          left: 0;
          top: 38px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s linear;
          overflow-y: scroll;

          &.tab-all-info.tab-active .tab-all-info__view.tab-isactive,
          &.tab-staff.tab-active .tab-staff__view.tab-isactive,
          &.tab-docs.tab-active .tab-docs__view.tab-isactive {
            opacity: 1;
            visibility: visible;
          }


          &.tab-all-info {
            height: calc(100% - 38px);
            padding: 0 50px;

            &.tab-active {
              .tab-all-info__view {
                margin-bottom: 50px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s, visibility 0.3s;

                & .tab-all-info__header {
                  height: 72px;
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;

                  p {
                    margin-top: 30px;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0;
                    text-align: left;
                  }
                }

                & .tab-all-info__item {
                  padding-bottom: 10px;
                  border-top: 1px solid;

                  .info-item__title {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0.04em;
                    text-align: left;
                  }

                  .info-item__title-row {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: start;

                    .title-row-base {
                      height: 35px;
                      padding: 10px 0;
                      font-size: 12px;
                      font-weight: 500;
                      line-height: 15px;
                      letter-spacing: 0.04em;

                      &.title-row__title {
                        height: max-content;
                        padding-right: 50px;
                        flex: 0 1 240px;
                      }

                      &.title-row__text {
                        max-width: 570px;
                        margin-right: 50px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }
                  }
                }
              }
            }
          }

          &.tab-staff {
            width: 100%;
            height: 499px;

            .tab-staff__view{
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.3s, visibility 0.3s;

              .tab__heading {
                height: 120px;
                padding: 30px 50px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
  
                h2 {
                  color: #21317a;
                }
  
                .btn-tab-bridht {
                  div {
                    width: 15px;
                    height: 15px;
                    // background-image: url("../icons/add.png");
                  }
                }
              }
  
              .tab__content {
                height: max-content;
                padding: 10px 50px 30px 50px;
  
                table {
                  border-collapse: collapse;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 15px;
                  letter-spacing: 0.04em;
                  text-align: left;
  
                  tr {
                    height: 55px;
                    border-bottom: 1px solid #e0e0e0;
  
                    th {
                      color: #000000;
                      padding-right: 20px;
                    }
  
                    td {
                      color: #4f4f4f;
                      padding-right: 20px;
                    }
  
                    .tab-name {
                      width: 277px;
                    }
  
                    .tab-pos {
                      width: 215px;
                    }
  
                    .tab-tel {
                      width: 180px;
                    }
  
                    .tab-email {
                      width: 177px;
                    }
                  }
                }
              }
            }
            .tab-staff__edit{
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.3s, visibility 0.3s;

            }
          }

          &.tab-docs {
            height: 50px;
            background: #050;
            .tab-docs__view{
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.3s, visibility 0.3s;

            }
            .tab-docs__edit{
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.3s, visibility 0.3s;

            }
          }

          &.tab-active {
            &.tab-all-info {
              z-index: 10;
              opacity: 1;
              visibility: visible;
            }

            &.tab-staff {
              z-index: 10;
              opacity: 1;
              visibility: visible;
            }

            &.tab-docs {
              z-index: 10;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
// Activated
#popup1,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6 {
  opacity: 0;
  visibility: hidden;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target .popup__content {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    &.edit-company {
      .tab {
        &.tab-active {
          &.tab-all-info {
            opacity: 1;
            visibility: visible;
          }

          &.tab-staff {
            opacity: 1;
            visibility: visible;
          }

          &.tab-docs {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
#popup2 {
  .message {
    .popup__content-items {
      .item {
        .item__description {
          justify-content: center;
        }
      }
    }
  }
}

.light-theme {
  .popup {
    background-color: rgba(0, 8, 47, 0.4);

    .popup__content {
      background: #ffffff;

      .popup__content-header {
        .content__header-title {
          color: #333333;
        }
      }

      .popup__content-footer {
        .btn {
          &:hover {
            border: none;
            color: #ffffff;
          }
        }
        .btn-bright {
          border: 1px solid #828282;
          color: #828282;
        }
      }

      &.message {
        .popup__content-items {
          .item {
            .item-inner {
              border-bottom: 1px solid #e0e0e0;
            }

            .item__icon {
              background: url(../icons/message-icon_light.png);
            }

            .item__description {
              color: #4f4f4f;
              .item__description-title {
                color: #000000;
              }
            }

            .item__time {
              color: #4f4f4f;
            }

            &.selected {
              background: #cde7f7;

              .item__description {
                color: #000000;
              }

              .item__time {
                color: #000000;
              }
            }

            &:hover {
              background: #cde7f7;
            }
          }
        }
      }

      &.info {
        .popup__content-items {
          .item {
            .item__description {
              color: #333333;
            }
          }
        }
      }

      &.add-company {
        .popup__content-items {
          .item {
            .item__input {
              color: #828282;
              background: #e0e0e0;
              &::placeholder {
                color: #828282;
              }
            }
          }
        }
      }

      &.edit-company {

        .popup__content-header {
          .content__header-btns {
  
            .isactive-edit-btn__label {
              p {
                color: #828282;
              }
            }
  
            .isactive-edit-btn__label::before {
              background-image: url(../../src/icons/isactive_ebit_btn_light_def.png);
            }
  
            .isactive-edit-btn__label::after {
              background-image: url(../../src/icons/isactive_ebit_btn_light.png);
            }
          }
        }

        .popup__content-items {
          .popup-edit__header {
            border-bottom: 1px solid #cbd0e7;

            .popup-edit__btn {
              .popup-edit__btn-title {
                p {
                  color: #828282;
                }
              }

              &.popup-edit__btn-all-info {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/all_info_light_def.png);
                  }
                }
              }

              &.popup-edit__btn-staff {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/staff_light_def.png);
                  }
                }
              }

              &.popup-edit__btn-docs {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/docs_light_def.png);
                  }
                }
              }

              &.popup-edit__btn-active {
                .popup-edit__btn-title {
                  p {
                    font-weight: 500;
                    color: #21317a;
                  }
                }

                .btn-line {
                  background: #5080cd;
                }

                &.popup-edit__btn-all-info {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/all_info_light.png);
                    }
                  }
                }

                &.popup-edit__btn-staff {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/staff_light.png);
                    }
                  }
                }

                &.popup-edit__btn-docs {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/docs_light.png);
                    }
                  }
                }
              }
            }
          }

          .tab{
            &.tab-all-info {
              &.tab-active {
                .tab-all-info__view {
                  & .tab-all-info__header {
                    p {
                      color: #21317a;
                    }
                  }

                  & .tab-all-info__item {
                    border-color: #e0e0e0;

                    .info-item__title {
                      color: #000000;
                    }

                    .info-item__title-row {
                      .title-row-base {
                        &.title-row__title {
                          color: #000000;
                        }

                        &.title-row__text {
                          color: #4f4f4f;
                        }
                      }
                    }
                  }
                }
              }
            }
            
            &.tab-staff.tab-active {
              .btn-tab-bridht {
                p {
                  color: #000000;
                }
  
                div {
                  background-image: url("../icons/add.png");
                }
              }
            }

            &.tab-docs.tab-active {
            }

            &::-webkit-scrollbar {
              width: 0;
            }
            -ms-overflow-style: none; /* IE 11 */
            scrollbar-width: none; /* Firefox 64 */
          }
        }
      }
    }
  }
}

.dark-theme {
  .popup {
    background-color: rgba(0, 8, 47, 0.4);
    .popup__content {
      background: #231f20;
      .popup__content-header {
        .content__header-title {
          color: #f2f2f2;
        }
      }
      .popup__content-footer {
        .btn {
          &:hover {
            border: none;
            color: #f2f2f2;
          }
        }
        .btn-bright {
          border: 1px solid #f2f2f2;
          color: #f2f2f2;
        }
      }
      &.message {
        .popup__content-items {
          .item {
            .item-inner {
              border-bottom: 1px solid #333333;
            }

            .item__icon {
              background: url(../icons/message-icon_dark.png);
            }
            .item__description {
              color: #e0e0e0;
              .item__description-title {
                color: #f2f2f2;
              }
            }
            .item__time {
              color: #e0e0e0;
            }
            &.selected {
              background: #389ee040;
              .item__description {
                color: #f2f2f2;
              }
              .item__time {
                color: #f2f2f2;
              }
            }
            &:hover {
              background: #389ee040;
            }
          }
        }
      }
      &.info {
        .popup__content-items {
          .item {
            .item__description {
              color: #f2f2f2;
            }
          }
        }
      }
      &.add-company {
        .popup__content-items {
          .item {
            .item__input {
              color: #f2f2f2;
              background: #4f4f4f;
              &::placeholder {
                color: #f2f2f2;
              }
            }
          }
        }
      }

      &.edit-company {

        .popup__content-header {
          .content__header-btns {
  
            .isactive-edit-btn__label {
              p {
                color: #F2F2F2;
              }
            }
  
            .isactive-edit-btn__label::before {
              background-image: url(../icons/isactive_ebit_btn_dark_def.png);
            }
  
            .isactive-edit-btn__label::after {
              background-image: url(../icons/isactive_ebit_btn_dark.png);
            }
          }
        }

        .popup__content-items {
          .popup-edit__header {
            border-bottom: 1px solid #4f4f4f;

            .popup-edit__btn {
              .popup-edit__btn-title {
                p {
                  color: #bdbdbd;
                }
              }

              &.popup-edit__btn-all-info {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/all_info_dark_def.png);
                  }
                }
              }

              &.popup-edit__btn-staff {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/staff_dark_def.png);
                  }
                }
              }

              &.popup-edit__btn-docs {
                .popup-edit__btn-title {
                  .popup-edit__btn-title-icon {
                    background-image: url(../icons/docs_dark_def.png);
                  }
                }
              }

              &.popup-edit__btn-active {
                .popup-edit__btn-title {
                  p {
                    font-weight: 500;
                    color: #495cff;
                  }
                }

                .btn-line {
                  background: #5080cd;
                }

                &.popup-edit__btn-all-info {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/all_info_dark.png);
                    }
                  }
                }

                &.popup-edit__btn-staff {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/staff_dark.png);
                    }
                  }
                }

                &.popup-edit__btn-docs {
                  .popup-edit__btn-title {
                    .popup-edit__btn-title-icon {
                      background-image: url(../icons/docs_dark.png);
                    }
                  }
                }
              }
            }
          }

          .tab {
            &.tab-all-info {
              &.tab-active {
                .tab-all-info__view {
                  & .tab-all-info__header {
                    p {
                      color: #495cff;
                    }
                  }

                  & .tab-all-info__item {
                    border-color: #333333;

                    .info-item__title {
                      color: #ffffff;
                    }

                    .info-item__title-row {
                      .title-row-base {
                        &.title-row__title {
                          color: #ffffff;
                        }

                        &.title-row__text {
                          color: #f2f2f2;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.tab-staff {
              &.tab-active {
                .tab-staff__view {
                  .btn-tab-bridht {
                    p {
                      color: #f2f2f2;
                    }
      
                    div {
                      background-image: url("../icons/add_w.png");
                    }
                  }
                }

                .tab-staff__edit {
                }
              }
            }

            &.tab-docs {
              &.tab-active {
                .tab-docs__view {
                }

                .tab-docs__edit {
                }
              }
            }

            &::-webkit-scrollbar {
              width: 0;
            }
            -ms-overflow-style: none; /* IE 11 */
            scrollbar-width: none; /* Firefox 64 */
          }
        }
      }
    }
  }
}

#popup1 {
  .item {
    @media only screen and (max-width: 360px) {
      height: 100px;
    }
  }
}
