.popup .popup__content.edit-company .popup__content-items .tab.tab-docs {
  height: 50px;
  background: #050;
  .tab-docs__view {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .tab-docs__edit {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.light-theme {
  .popup {
    .popup__content {
      &.edit-company {
        .popup__content-items {
          .tab {
            &.tab-docs {
              &.tab-active {
                .tab-docs__view {
                }

                .tab-docs__edit {
                }
              }
            }
          }
        }
      }
    }
  }
}

.dark-theme {
  .popup {
    .popup__content {
      &.edit-company {
        .popup__content-items {
          .tab {
            &.tab-docs {
              &.tab-active {
                .tab-docs__view {
                }

                .tab-docs__edit {
                }
              }
            }
          }
        }
      }
    }
  }
}
